fastapi==0.101.1
uvicorn==0.23.2
sqlalchemy~=2.0.20
pydantic~=2.1.1
psycopg2-binary~=2.9.7
httpx~=0.24.1
pytest~=7.4.0
pytest-cov~=4.1.0
coverage~=7.3.0
Faker~=19.3.0
requests~=2.31.0
python-dotenv~=1.0.0